@import '~bootstrap/scss/bootstrap';
h1{
  text-align: right;
  margin: 30px;
  color: #652a0e;
}
h2{
  text-align: center;
  color: #dd571c;
}
h4 {
  text-align: center;
  color: #dd571c;
}
body{
background-image: url(public/8.jpg);
background-size: cover;
}

.btn {
  margin: 10px;
}

.button-small{
    color: #fff !important;
    word-spacing: 0.25em;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   border: none;
    line-height: 22px;
    padding: 12px 13px 11px;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 18px;
    text-decoration: none;
}
.button-small:visited{
      color: #fff;
}
.button-small{
    padding: 6px 12px 5px;
    font-size: 11px;
    color: #fff;
    text-shadow: none;
}
.button-small:hover{
    color: rgba(255,255,255, 0.75);
    text-decoration: none;
    box-shadow: inset 0 10px 20px rgba(0.20,0.07,0, 0.30);
}
.button-small:active {
    box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
}
.rounded3 {
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.salmon_dark {
    background: #8A1215;
}

#sign-up {
  float: right;
  display: flex;
  flex-direction: column;
}
#sign-in {
  float: right;
  display: flex;
  flex-direction: column;
}
#ch-pw {
   display: none;
}
#sign-out {
   display: none;
}
#sec-auth {
  float: right;
  display: none;
  flex-direction: column;
  margin: 30px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
img:hover {
border: 10px solid #fcd12a;
border-radius: 10px;
}

.container {
  // Set the board's container to take up 100 percent of the
  // viewport's height (the height of the browser)
  height: 100vh;
  display: none;
}

.board {
  // Set the margins to auto. When the left and right
  // margins are set to auto, they will be the same.
  // Which ends up centering the board in between the margins.
  margin: 30px 0;

  // Sets the maximum size of the board.
  // 100vh means 100% of the viewport (browser's) height
  // We subtract -75px so there is space at the bottom
  // We use the same value for height and width so the board is a square.
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);


  // `url`           - is a link to our background image, stored in the public
  //                   folder. Note: Any local images need to be stored in `public`
  //                   to be accessible on your deployed site.
  // `no-repeat`     - sets the `background-repeat` attribute to `no-repeat`,
  //                   causing the image to only show up once, and not be
  //                   repeated on the X or Y axis.
  // `center center` - sets the `background-position` attribute, which center's
  //                   the images along the X and Y axis respectively
  background: url('public/3.jpg') no-repeat center center;

  // Scales the image as large as possible without stretching the image.
  // The image will be cropped since its proportions are different from the `board` div.
  background-size: cover;
}

.box {
  // We will build our tic tac toe grid lines using each boxes border
  // We set all bottom borders to be 1px, solid lines, and black.
  // Note: We will remove the border for the bottom row later in this file.
  border-bottom: 1px solid black;

  // We set all right borders to be 1px, solid lines, and black.
  // Note: We will remove the border for the right row later in this file.
  border-right: 1px solid black;

  // Make every box a flex container, so we can center the content (i.e. X or O)
  // inside of it easily
  display: flex;

  // Center the content along the main-axis (left-to-right, because
  // flex-direction defaults to `row`)
  justify-content: center;

  // Center the content along the cross-axis (top-to-bottom, since the
  // cross axis is perpendicular to the main-axis)
  align-items: center;


  // Set the minimum height for each box to be a third of their parent's height
  // (board's height)
  min-height: calc(100% / 3);


  // Each boxes initial background color.
  // Note: We set this to transparent when a box has been clicked, so that we
  //       can see the image behind it.
  background-color: #597d35;

  // Set the x's and o's to white
  color: white;

  // Adds a shadow to the X's and O's.
  // The shadow is placed 2px to the right and 2px below the text, respectively.
  // Set the shadow's color to black (rgb: 0, 0, 0) and to be
  // 25% transparent (opacity)
  text-shadow: 2px 2px rgba(0 , 0, 0, .25);

  // Set the the X's and O's font-size to 15% of the
  // viewport's height (browser's height)
  font-size: 15vh;

  // Prevent the user from selecting the X or O text.
  user-select: none;

  // Select the 3 right boxes, `nth-child` selects elements based on their
  // position to their siblings.
  // giving `nth-child` the value `3n` selects every third box (boxes 3, 6, and 9)
  // Note: This is a sass nested selector, `&` refers to the current selector `.box`
  &:nth-child(3n) {
    // Remove their right border, since we only want lines in between boxes
    // for our grid
    border-right: 0;
  }

  // Select the 3 bottom boxes, `nth-last-child` selects elements based on their
  // position, **counting from the end**.
  // "-1n + 3" represents the last three elements among a group of siblings.

  // Why? Lets see what `-1n + 3` evaluates to with different values of n
  // when n is 0: (-1 * 0) + 3 = 3rd // selects the third to last .box
  // when n is 1: (-1 * 1) + 3 = 2nd // selects the second to last .box
  // when n is 2: (-1 * 2) + 3 = 1st // selects the last .box
  &:nth-last-child(-1n + 3) {
    // Remove their bottom border, since we only want lines in between boxes
    // for our grid
    border-bottom: 0;
  }


  // When you hover over a box
  &:hover {
    // Set the background color to a light blue
    background-color: #b1560f;
  }
}

.head {
  display:inline-block;
  color:#234f1e;
}
.btn-add-less {
  border-radius: 10px;
}
table {
  padding: 5px;
  text-align: center;
}
.w-50 {
  width: 50%
}
.w-30 {
  width: 30%
}
.w-10 {
  width: 10%;
}
#add-title-btn {
width: 30%;
margin: 10px 200px;
}
th {
  font-size: 28px;
  color: #234f1e;
}
td {
  color: #234f1e;
}
#create-list-btn {
  color: #234f1e;
}
