@import '~bootstrap/scss/bootstrap';
h1{
  text-align: right;
  margin: 30px;
  color: #652a0e;
}
h2{
  text-align: center;
  color: #dd571c;
}
h4 {
  text-align: center;
  color: #dd571c;
}
body {
background-image: url(public/2.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.content {
  @include make-container;
  clear: both;
 }
.row {
  @include make-row;
  background-color: white;
  opacity: 80%;
}
.column {
  margin: 10px 0 0 0;
  @include make-col(4);
  text-align: center;
  color: #8A1215;
}
.btn {
  margin: 5px;
}

.single-list {
font-size: 28px;
background-color: white;
opacity: 80%;
border: solid 2px #dd571c;
border-radius: 5%;
}

.list-controller {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.wrap{
  margin: 100px auto;
  float: left;
  display: flex;
  flex-direction: column;
  width: 50%;
  clear: both;
}

.button-small{
    color: #fff !important;
    word-spacing: 0.25em;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   border: none;
    line-height: 22px;
    padding: 12px 13px 11px;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 18px;
    text-decoration: none;
}
.button-small:visited{
      color: #fff;
}
.button-small{
    padding: 6px 12px 5px;
    font-size: 11px;
    color: #fff;
    text-shadow: none;
}
.button-small:hover{
    color: rgba(255,255,255, 0.75);
    text-decoration: none;
    box-shadow: inset 0 10px 20px rgba(0.20,0.07,0, 0.30);
}
.button-small:active {
    box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
}
.rounded3 {
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.salmon_dark {
    background: #8A1215;
}
.flex-list {
  display: none;

}
.flex-new-list {
  display: none;
clear: both;
width: 100%;

}
.hide {
  display: none;
}

#create-list {
  float: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}
#edit-list {
  float: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}

#go-back {
   display: none;
}
#sign-up {
  float: right;
  display: flex;
  flex-direction: column;
}
#sign-in {
  float: right;
  display: flex;
  flex-direction: column;
}

#ch-pw {
   display: none;
}

#sign-out {
   display: none;
}

#sec-auth {
  clear: right;
  float: right;
  display: flex;
  flex-direction: column;
  margin: 30px;
}
#edit-list-section {
  display: none;
}

#message {
  margin:30px;
  text-align: right;
  font-size: 24px;
  color: #234f1e;
  float:right;
}
#ch-pw {
  float: left;
  margin: 10px;
  position: absolute;
}

@media (max-width: 1024px) {
  .content {
    @include make-container;
    clear: both;
   }
   .container {
     clear: right;
     width: 100%;
   }
  .row {
    @include make-row;
    background-color: white;
    opacity: 80%;
  }
  .column {
    margin: 10px 0 0 0;
    @include make-col(4);
    text-align: center;
    color: #8A1215;
  }

  .wrap{
    margin: 100px auto;
    float: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    clear: both;
  }

  body {
  background-size: cover;
  background-position: center;
}

body:after{
      content:"";
      position:fixed; /* stretch a fixed position to the whole screen */
      top:0;
      height:100vh; /* fix for mobile browser address bar appearing disappearing */
      left:0;
      right:0;
      z-index:-1; /* needed to keep in the background */
      background-image: url(public/2.jpg);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
}

@media (max-width: 770px) {
  h1 {
    font-size: 28px;
    text-align: center;
  }
  body {
  background-size: cover;
  background-position: center;
}

body:after{
      content:"";
      position:fixed; /* stretch a fixed position to the whole screen */
      top:0;
      height:100vh; /* fix for mobile browser address bar appearing disappearing */
      left:0;
      right:0;
      z-index:-1; /* needed to keep in the background */
      background-image: url(public/2.jpg);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

h2{
  text-align: center;
  color: #dd571c;
}
h4 {
  text-align: center;
  color: #dd571c;
}
.content {
  @include make-container;
  clear: both;
 }
.row {
  @include make-row;
}
.column {
  margin: 10px 0 0 0;
  @include make-col(4);
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.btn {
  margin: 10px;
}

.single-list {
font-size: 28px;
}

.list-controller {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.wrap{
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  clear: both;
}

.flex-new-list {
clear: both;
width: 100%;

}
#create-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}
#edit-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}

#sec-auth {
  float: left;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

#message {
  clear:left;
  margin: 120px auto;
  text-align: center;
  font-size: 24px;
  color: #8A1215;
}
#ch-pw {
  float: left;
  margin: 10px;
  position: absolute;
}
.column {
  margin: 10px 0 0 0;
  @include make-col(4);
  text-align: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

}

@media(max-width: 375px) {
  h1 {
    font-size: 24px;
  }
  h4{
    font-size: 24px;
  }
  #message {
    font-size: 20px;
    margin-top: 150px;
    text-align: center;
  }
  .column {
    margin: 10px 0 0 0;
    @include make-col(12);
    text-align: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }
  #sec-auth {
    float: none;
    position: absolute;
    margin-left: 100px;
  }
  #sign-in {
    float: none;
  }
  .wrap{
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    clear: both;

  }
  .row {
      border-bottom: solid 2px #dd571c;

  }



}
